* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
  height: 30px;
  font-weight: 650;
  font-size: 20px;
  position: relative;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100vw;
}

a {
  font-style: none;
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 100vw;
  height: 100vh;
}

h1 {
  justify-content: center;
  align-items: center;
  font-size: 3.2em;
  line-height: 1.1;
}

.hamburger-btn {
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  background: none;
  z-index: 2;
}

.nav ul {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100vw;
  background-color: white;
  z-index: 1;
}

.nav ul.show {
  display: flex;
  flex-direction: column;
  background-color: rgb(142, 223, 252);
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  padding: 0px 55px 0px 55px;
  max-width: 300px;
  z-index: 1;
}

.nav ul li {
  padding: 10px;
}
